@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 7px;
  background-color: #292929;
}

body::-webkit-scrollbar-thumb {
  background-color: #d68da2;
  border-radius: 6px;
}

.section_cv button:hover .fa-circle-chevron-right {
  transform: translateX(5px);
}

.flip_blox {
  perspective: 1000px;
}

.flip_box_inner {
  transform-style: preserve-3d;
}

.flip_box:hover .flip_box_inner {
  transform: rotateY(180deg);
}

.flip_box_front,
.flip_box_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_box_back {
  transform: rotateY(180deg);
}

.row2 .input_container input[type="tel"] ~ .label.filled {
  top: -20px;
  font-size: 0.8rem;
  color: #292929;
}

.row2 .input_container input[type="tel"] ~ .under_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.row2 .input_container input[type="tel"] ~ .under_line.filled {
  transform: scaleX(1);
  border-bottom: 1px solid #292929;
}

.row1 .input_container input[type="text"]:focus ~ .label,
.row1 .input_container input[type="text"]:valid ~ .label,
.row1 .input_container input[type="email"]:focus ~ .label,
.row1 .input_container input[type="email"]:valid ~ .label,
.row2 .input_container input[type="text"]:focus ~ .label,
.row2 .input_container input[type="text"]:valid ~ .label,
.row2 .input_container input[type="tel"]:focus ~ .label,
.form textarea:focus ~ .label,
.form textarea:valid ~ .label {
  top: -20px;
  font-size: 0.8rem;
  color: #292929;
}

.input_container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input_container input[type="text"]:focus ~ .underline,
.input_container input[type="text"]:valid ~ .underline,
.input_container input[type="email"]:focus ~ .underline,
.input_container input[type="email"]:valid ~ .underline,
.input_container input[type="tel"]:focus ~ .under_line,
.form .input_container textarea:focus ~ .underline,
.form .input_container textarea:valid ~ .underline {
  border-bottom: 1px solid #292929;
  transform: scaleX(1);
}
