@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 7px;
  background-color: #292929;
}

body::-webkit-scrollbar-thumb {
  background-color: #d68da2;
  border-radius: 6px;
}